package-lock.json

redundant/

node_modules/

open

temp_code.js

/ASPDotnet_Backend/mapService/mapService/*.json

/ASPDotnet_Backend/mapService/mapService/bin/

/ASPDotnet_Backend/mapService/mapService/obj/

/ASPDotnet_Backend/mapService/mapService/Properties

/ASPDotnet_Backend/mapService/mapService/mapService.csproj

INSURANCE.Hastaneler.json
